{% extends 'layout.twig' %}

{% block body %}

<div class="filters row">
	<div class="three columns">
		League Filters:
	</div>
	<div class="three columns">
		<select>
			<option>Type</option>
			{% for type in types %}
				<option>{{ type.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="three columns">
		<select>
			<option>Division</option>
			{% for division in divisions %}
				<option>{{ division.name }}</option>
			{% endfor %}
		</select>
	</div>
</div>

{% for league in leagues %}
<div class="league-table">
	<h4>Grade {{ league.grade }} {{ league.type }}</h4>
	<div>
		<table>
			<thead>
				<th class="num xs-hide pos"></th>
				<th class="colour"></th>
				<th class="text">
					<h5>{{ league.section != null ? ('Section ' ~ league.section) : '&nbsp;' }}</h5>
				</th>
				<th class="num">P</th>
				<th class="num xs-hide">W</th>
				<th class="num xs-hide">D</th>
				<th class="num xs-hide">L</th>
				<th class="num">Pt</th>
			</thead>
			<tbody>
				{% for standing in league.teams %}
					<tr>
						<td class="num xs-hide pos">{{ loop.index }}</td>
						<td class="colour" style="background-color: {{ standing.club.colour }}"></td>
						<td class="text">{{ standing.name }}</td>
						<td class="num">{{ standing.played }}</td>
						<td class="num xs-hide">{{ standing.won }}</td>
						<td class="num xs-hide">{{ standing.drawn }}</td>
						<td class="num xs-hide">{{ standing.lost }}</td>
						<td class="num">{{ standing.points }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div style="margin: auto; text-align: center;">
			<button>Fixtures</button>
			<button>Results</button>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}